name: nexus_ai
description: AI Interview Platform
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  provider: ^6.1.2
  uuid: ^4.3.3
  google_generative_ai: ^0.4.6
  file_picker: ^8.0.7
  http: ^1.2.2
  dio: ^5.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true